.navigation {
    position: sticky;
    top: -20px;
    padding-top: 60px;
    padding-bottom: 30px;
    z-index: 9;
    background-color: white;

    /* Tablet Small */
    @media (max-width: 899px) {
        padding-top: 30px;
    }
}