.portfolio {
    padding-top: 110px;
    padding-bottom: 90px;
    margin-top: -80px;
    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;

    /* Tablet Big */
    @media (max-width: 1139px) {
        padding-top: 120px;
        margin-bottom: 40px;
        margin-top: -70px;
        padding-bottom: 60px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

